* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0077b6;
  text-align: center;
}
.container {
  height: 70vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width:60vmin;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  gap:1.5vmin;
}

#box {
  height: 17vmin;
  width:17vmin;
  border-radius: 1rem;
  border:none;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
  font-size: 8vmin;
  color:#0077b6;
  background-color: #fff;
}
#reset-btn{
    padding:0.75rem;
    font-size:1.25rem;
    background-color: #191913;
    color:#fff;
    border-radius:1rem;
    border:none;
}
h1{
    color:#191913;
    padding:2rem 0 0 0;
}
#new-btn{
  padding:0.75rem;
  font-size:1.25rem;
  background-color: #191913;
  color:#fff;
  border-radius:1rem;
  border:none;
}

#msg{
  color:#fff;
  font-size: 5vmin;
}

.msg-container{
  height:100vmin;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:4rem;
}

.hide{
  display:none;
}
#anim{
  position:absolute;
  z-index:-1;
}
